jumbotron {
  background-color: #f8f3f3; 
}

#about {
  background-image: linear-gradient(to top, #ffffff 70%, #ffdada 100%); 
}

.fill-custom1 {
  fill: #ffdada; 
}

#home {
  background-image: linear-gradient(to top, #ffffff 70%, #ffdada 100%); 
}

#projects {
  background-image: linear-gradient(to top, #ffffff 70%, #ffdada 100%); 
}

#contact {
  background-image: linear-gradient(to top, #ffffff 70%, #ffdada 100%); 
}

#stack {
  background-image: linear-gradient(to top, #f8f3f3 70%, #ffdada 100%);
}

section {
  padding-top: 12rem;
}

.card-title {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.card-text {
  text-align: center;
}

.accent-custom {
  background-color: #b60909; 
}

.fill-custom2 {
  fill: #b60909;
}

.display-4 {
  color: #403f3f;
  font-style: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  letter-spacing: 1px;
}