.jumbotron {
  padding-top: 10rem;
  background-color: #f8f3f3; /* Un rojo oscuro elegante */
  border: none; /* Elimina cualquier borde */
}


#about {
  background-image: linear-gradient(to top, #ffffff 70%, #ffdada 100%); /* Consistencia con 'about' */
}

.fill-custom1 {
  fill: #ffdada; /* Un color salmón que complementa los tonos rojizos */
}

#home {
  background-image: linear-gradient(to top, #ffffff 70%, #ffdada 100%); /* Consistencia con 'about' */
}

#projects {
  background-image: linear-gradient(to top, #ffffff 70%, #ffdada 100%); /* Consistencia con 'about' */
}

#contact {
  background-image: linear-gradient(to top, #ffffff 70%, #ffdada 100%); /* Consistencia con 'about' */
}

section {
  padding-top: 5rem;
}

.card-title {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.card-text {
  font-size: 12px; /* Asegúrate de añadir 'px' para el tamaño de fuente */
  text-align: center;
}

/* style.css */

.accent-custom {
  background-color: #b60909; /* Un tono rojizo acentuado */
}


.fill-custom2 {
  fill: #ffdada;
}

.fill-custom3 {
  fill: #ffdada; /* Un rojo tomate brillante */
}

.fill-custom4 {
  fill: #b60909; /* Un rojo indian, más suave */
}

.display-4 {
  color: #000000; /* Un gris claro que contrasta bien con los rojos */
  font-style: italic;
}