.jumbotron {
  padding-top: 10rem;
  background-color: #f8f3f3;
}

#about {
  background-image: linear-gradient(to top, #f8f3f3 70%, #ffdada 100%);
}

.fill-custom1 {
  fill: #ffdada;
}

#home {
  background-image: linear-gradient(to top, #f8f3f3 70%, #ffdada 100%);
}

#projects {
  background-image: linear-gradient(to top, #f8f3f3 70%, #ffdada 100%);

#contact {
  background-image: linear-gradient(to top, #f8f3f3 70%, #ffdada 100%);
}

#stack {
  background-image: linear-gradient(to top, #f8f3f3 70%, #ffdada 100%);
}

section {
  padding-top: 5rem;
}

.card-title {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  font-size: 24px;
}

.card-text {
  font-size: 16px; 
  text-align: center;
}

.accent-custom {
  background-color: #b60909;
}

.fill-custom2 {
  fill: #b60909;
}

.display-4 {
  color: #2e2e3e;
  font-style: italic;
}